// .perfil {
//     display: flex;
//     flex-direction: column;
//     // justify-content: space-sbetween;
//     min-height: calc(100vh - 1px);
// }

.perfil-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.perfil-topico {
    font-size: 15px;
    text-align: center;
}

.perfil-descricao {
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
}

.perfil-titulo {
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.linha {
    width: 50%;
    border-top: 3px solid #000;
    margin-top: 40px;
    margin-bottom: 40px;
}

.perfil-imagem {
    max-width: 300px; 
    max-height: 300px;
}
